<div id="scoped-content">
    <style type="text/css" scoped>

    </style>

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Login Form -->
            <form action="/verificare-autentificare" method="post" >
                <input type="text" id="login" name="login" placeholder="login" value="<%=user%>" style="color:red"> <br />
                <input type="password" id="password" name="login" placeholder="password"> <br />
                <input type="submit" value="Log In"> <br />
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</div>

